<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Midterm Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<h1>Powerlifter Stats</h1>
<div class="nav">
  <div>
    <a href="/heaviest_squats">Heaviest Squats</a>
    <a href="/heaviest_benches">Heaviest Benches</a>
    <a href="/heaviest_deadlifts">Heaviest Deadlifts</a>
    <a href="/heaviest_totals">Heaviest Totals</a>
    <a href="/alphabetical">Alphabetical Powerlifters</a>
  </div>
</div>

<body>
	<div class="container">
	  {{{body}}}
	</div>
</body>

</html>

